

.profile-block{
    padding: 50px 150px;
    font-size: 18pt;
    line-height: 24pt;
    color: #7e7e7e;
    font-family: 'ft-1';
    border-top: 1px solid #efefef;
    text-align: justify;
}
.pro-row{
    text-align: center;
    position: relative;
    z-index: 10;
    padding: 50px 0px;
}
.pro-item{
    display: inline-block;

    width: 30%;
/*    margin: 0% 6%;*/
    vertical-align: top;
}
.pro-content img{
    width: 100%;

    margin-top: 46px;
}
.pro-item .pro-content{
    overflow: hidden;
    border-radius: 300px;
    background: #efefef;
    width: 270px;
    height: 270px;
    margin: 0 auto;
}
.pro-item .pro-title{
    font-family: 'Raleway';

    font-size: 22pt;
    font-weight: 100;
    margin-bottom: 16px;
    color: #444;
}
.pro-item .pro-desc{
    margin-top: 16px;
    font-family: 'Raleway';
    font-size: 16px;
    margin-bottom: 16px;
    color: #7C7C7C;
    padding: 15px;
}



.chev-white{
    background: #f2f2f2;
    border-top: 1px solid #e6e6e6;
    border-bottom:  1px solid #e6e6e6;
    min-height: 300px;
    padding: 20px 0px;
}

.testimonials{
    width: 100%;
    /*margin: 0 auto;*/
    padding: 0px 30px;
    position: relative;
    z-index: 10;
    text-align: center;
}
.testimonials .title{
    font-size: 18pt;
    text-align: left;
    padding-left: 30px;
}
.testimonials .title p{
    font-style: italic;
    display: inline-block;
    font-size: 15px;
    color: #808080;
    margin-left: 15px;
    line-height: 30px;
    vertical-align: top;
}
.testimonials .item{
    display: inline-block;
    vertical-align: top;
    border-top: 5px solid;
    width: 280px;
    margin: 14px;
    background: white;
    min-height: 260px;
    box-shadow: rgba(0,0,0,.2) 0 2px 4px;

    padding: 28px 20px ;
    position: relative;

}
.testimonials .item a{
    /*                    display: inline-block;*/
}
.testimonials h2{
    color: #1496bb;
    font-size: 24pt;
    font-family: 'ft-1';
    -webkit-transition: all .4s ease-in-out .05s;
    -moz-transition: all .4s ease-in-out .05s;
    -ms-transition: all .4s ease-in-out .05s;
    -o-transition: all .4s ease-in-out .05s;
    transition: all .4s ease-in-out .05s;
}
.testimonials .item:hover h2{

    filter: alpha(Opacity=0);
    opacity: 0;
}
.testimonials .date{
    color: #aaa;
    position: absolute;
    top: 8px;
    right: 8px;
}
.testimonials .date i{
    font-size: 16px;
}
.testimonials .t-content{
    font-size: 16px;
    color: #8B8B8B;
    margin-top: -35px;
    font-style: italic;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: all .4s ease-in-out .05s;
    -moz-transition: all .4s ease-in-out .05s;
    -ms-transition: all .4s ease-in-out .05s;
    -o-transition: all .4s ease-in-out .05s;
    transition: all .4s ease-in-out .05s;
}
.testimonials .item:hover .t-content{
    filter: alpha(Opacity=1);
    opacity: 1;
    margin-bottom: 10px;
}

.testimonials .by{
    color: #444;
}
.testimonials .t-pic{
    overflow: hidden;
    border-radius: 50%;
    bottom: 20px;
    height: 100px;
    position: absolute;
    right: 20px;
    width: 100px;
}
.testimonials .t-pic img{
    width: 100%;
}