

.chev-white{
    background: #f2f2f2;
    border-top: 1px solid #e6e6e6;
    border-bottom:  1px solid #e6e6e6;
    min-height: 300px;
    padding: 20px 0px;
}

.testimonials{
    width: 100%;
    /*margin: 0 auto;*/
    padding: 0px 30px;
    position: relative;
    z-index: 10;
    text-align: center;
}
.testimonials .title{
    font-size: 18pt;
    text-align: left;
    padding-left: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    padding-bottom: 6px;
}
.testimonials .title p{
    font-style: italic;
    display: inline-block;
    font-size: 15px;
    color: #808080;
    margin-left: 15px;
    line-height: 30px;
    vertical-align: top;
}