/* @ import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300);*/

* {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;  

}

html {
    height: 100%;
}

body, html {
    /*		background: linear-gradient(40deg,rgba(43,107,95,1), rgba(66,66,66,1));
                    background: -o-linear-gradient(40deg,rgba(43,107,95,1), rgba(66,66,66,1));
                    background: -ms-linear-gradient(40deg,rgba(43,107,95,1), rgba(66,66,66,1));
                    background: -moz-linear-gradient(40deg,rgba(43,107,95,1), rgba(66,66,66,1));
                    background: -webkit-linear-gradient(40deg,rgba(43,107,95,1), rgba(66,66,66,1));
    background-position:bottom;
      background-repeat: repeat-y; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
}


h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 4.5em;
    color: #424242;
    letter-spacing: -2px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #8e8e8e;
    letter-spacing: -.5px;
    margin-top: -50px;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: .5em;
    color: #8e8e8e;
    letter-spacing: 0px;
    margin-top: 0px;		
}

h5{
    display: inline;
    font-weight: 300;
    font-size: .6em;
}	

a {
    text-decoration: none;
    color: #8e8e8e;
}

a:hover {
    color: #424242;
}

#container {
    background-color: rgba(237, 237, 235, 1);
    max-width: 1200px;
    position: relative;
    width: 90%;	
    padding: 0% 5% 0% 5%;
    height: 100%;
    min-height: 900px;
    background-position:bottom;
    background-repeat: repeat-y;
    margin: -10px auto;
    box-shadow: 0px 0px 10px #424242;
}

#second {
    display: block;
    position: relative;
    top: 40px;
}

.top {
    display: block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: 70px;
    background-color: #03997d;
    color: rgba(250,250,250,.95);
    text-align:center;
    padding: 13px;
    letter-spacing: .5px;
    font-size: 1.1em;
    border-right: inset 1px #07a98a;
}

.circle {
    display: block;
    position: relative;
    width: 100%;
    top: -20px;
    height: 45px;
    background-color: #08b695;
    z-index: 2;
    text-align: center;
    letter-spacing: .5px;
    padding-top: 5px;
    font-weight: 600;
    color: rgba(66,66,66,.8);
    font-size: 1.35em;
    border-right: inset 1px #07a98a;
}


.bottom {
    display: block;
    position: relative;
    top: -50px;
    padding-top: 35px;
    font-size: .8em;
    height: 225px;
    text-align: center;
    border-right: inset 1px #d1d2d1;
    background-color: rgba(237, 237, 235, 1);
}

.plan5 .bottom {
    border-right: none;
}

.details {
    width: 100%;
    display: block;
    padding: 13px;
    color: #8e8e8e;
}

.plan {
    cursor: pointer;
}
.plan.current {
    position: relative;
    z-index: 3;
    transform: scale(1.07,1.07);
    -o-transform: scale(1.07,1.07);
    -ms-transform: scale(1.07,1.07);
    -moz-transform: scale(1.07,1.07);
    -webkit-transform: scale(1.07,1.07);
    box-shadow: 0px 0px 5px rgba(66,66,66,.3);
}
.plan.current .top, .plan.current .circle {
    border-right: 0px!important;
}

.signup {
    display: block;
    position: relative;
    width: 65%;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}

.signup:hover {
    box-shadow: 0px 0px 2px rgba(66,66,66,.1);
    color: rgba (80,80,80,1);
    border: 1px solid #8e8e8e;
}

#signup:active {
    box-shadow: 0px 0px 4px rgba(66,66,66,.3);
    color: rgba (80,80,80,1);
    border: 1px solid #8e8e8e;
    transform: translate(2,2)
}

/*-------------------------------
        GRID
--------------------------------*/

h1, h2, .span12,
.span11, .span10, .span9,
.span8, .span7, .span6,
.span5, .span4, .span3, 
.plan, .span2, .span1 {
    display: block;
    float: left;
}


.span12 {
    width: 100%;
}

.span9 {
    width: 75%;
}

.span8 {
    width: 66.66%;
}

.span6 {
    width: 50%;
}

.span4 {
    width: 33.33%;
}

.span3 {
    width: 25%;
}

.plan {
    width: 20%;
}

.span2 {
    width: 16.66%;
}

.span1 {
    width: 8.33%;
}

#hide {
    display: block;
}

@media screen and (max-width:800px) {

    #bottom {
        height: 260px;
    }

}

@media screen and (max-width:700px) {
    #hide {
        display: none;
        width: 100%;
    }

    .show {
        display: block;
        margin-bottom: -75px;
    }

    #top{
        padding-top: 20px;
    }
    .plan {
        width: 100%; 
    }

    .span9{
        width: 100%;
    }

    #top{
        z-index: 1;
        height: 50px;
        padding-top: 10px;
        border-top: inset 1px #07a98a;
    }

    #circle {
        z-index: 2;
        margin-top: 16px;
    }

    #bottom {
        height: 300px;
    }

}